<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />

    <title>Sleep Tracker - Signup</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-primary navbar-expand-md pt-2 pb-2">
        <div class="container-xxl">
            <a href="/" class="navbar-brand">
                <span class="fw-bold text-light"> Sleep Tracker </span>
            </a>
        </div>
    </nav>
    <section id="login" class="pt-5 mt-5 mb-5 pb-5">
        <div class="container-lg">
            <h2 class="text-center text-primary pb-2">Signup</h2>
            <div class="row justify-content-center">
                <div class="card col-10 col-md-8 col-lg-5 border-primary border-2">
                    <div class="card-body">
                        <form id="signup" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="e.g. John Doe" required
                                    oninput="inputValidation(this.value, 'username-feedback', 'username')"
                                    onclick="inputRequired(this.value, 'username-feedback')">
                                <p class="" id="username-feedback"></p>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="number" class="form-control" id="age" name="age" placeholder="e.g. 25">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="e.g. johndoe@example.com" aria-describedby="emailHelp" required
                                    oninput="inputRequired(this.value, 'email-feedback')"
                                    onclick="inputRequired(this.value, 'email-feedback')">
                                <p class="" id="email-feedback"></p>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required
                                    oninput="inputValidation(this.value, 'password-feedback', 'password')"
                                    onclick="inputRequired(this.value, 'password-feedback')">
                                <p class="" id="password-feedback"></p>
                            </div>
                            <div class="mb-3">
                                <label for="password-confirmation" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="password-confirmation"
                                    name="password-confirmation" required
                                    oninput="passwordConfirmation(this.value, 'password-confirmation-feedback')"
                                    onclick="passwordConfirmation(this.value, 'password-confirmation-feedback')">
                                <p class="" id="password-confirmation-feedback"></p>
                                <div id="" class="form-text">We'll never share your information with anyone
                                    else.
                                </div>
                            </div>
                            <input type="hidden" name="user-token">
                            <button type="submit" class="btn btn-primary">Signup</button>
                            <div class="d-flex justify-content-end">
                                Already have an account? &nbsp; <a href="/login" role="button" style="text-decoration:none;"> Login now</a>
                            </div>
                        </form>
                        <div id="info-verify">
                            <h1>
                                <i class="bi bi-check-circle text-success"></i>
                                A verification link has been sent to your email account
                            </h1>
                            <hr>
                            <p>Please click on the link that has been sent to your email account to verify your email
                                and continue the registration process</p>
                        </div>
                        <div id="failed-verify">
                            <h1>
                                <i class="bi bi-x-circle text-danger"></i>
                                Registration failed
                            </h1>
                            <hr>
                            <p>Please try again!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="container-fluid my-5"></div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="/js/host-info.js"></script>
    <script src="/js/validation/input-validation.js"></script>
    <script src="/js/auth/signup.js"></script>
</body>

</html>