  <!-- <nav class="navbar navbar-expand-md bg-light pt-2 pb-2 sticky-top" style="z-index: 1;">
    <div class="container-xl">
      <div class="navbar-brand">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewEntry"> <i
            class="bi bi-plus"></i> <span class="fw-bold"> Add New
            Entry </span> </button>
      </div>
      <div class="justify-content-end align-center" id="">
        <ul class="navbar-nav">
          <li class="nav-item dropdown justify-content-start align-center">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Show trends:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Last 7 Days</a></li>
              <li><a class="dropdown-item" href="#">Weeks</a></li>
              <li><a class="dropdown-item" href="#">Months</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

          <!-- <ul class="navbar-nav">
            <li class="nav-item">
              <form class="container-fluid justify-content-start" method="post" action="">
                <input type="hidden" name="token" value="">
                <button class="btn text-light" type="button">Dashboard</button>
              </form>
            </li>
            <li class="nav-item">
              <form class="container-fluid justify-content-start" method="post" action="">
                <input type="hidden" name="token" value="">
                <button class="btn text-light" type="button">Weeks</button>
              </form>
            </li>
            <li class="nav-item">
              <form class="container-fluid justify-content-start" method="post" action="">
                <input type="hidden" name="token" value="">
                <button class="btn text-light" type="button">Months</button>
              </form>
            </li>
            <li class="nav-item">
              <form class="container-fluid justify-content-start" method="post" action="">
                <input type="hidden" name="token" value="">
                <button class="btn text-light" type="button">History</button>
              </form>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link btn dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <form class="container-fluid justify-content-start" method="post" action="">
                    <input type="hidden" name="token" value="">
                    <button class="btn text-secondary" type="button">Edit Profile</button>
                  </form>
                </li>
                <li>
                  <form class="container-fluid justify-content-start" method="post" action="">
                    <input type="hidden" name="token" value="">
                    <button class="btn text-secondary" type="button">Logouts</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul> -->